@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    UrunHata.Icerik = "";
}

<br />

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header border-transparent">
                <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Ürün Ekle</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <form id="UrunForm">
                                <label style="margin-top:10px; margin-bottom:-5px;">Ürün Kategori</label>
                                @Html.DropDownList("UrunKategoriID", (List<SelectListItem>)ViewBag.kat, "Kategori Seçiniz...", new { @class = "form-control select2", id = "UrunKategoriID" })

                                <label style="margin-top:10px; margin-bottom:-5px;">Ürün Türü <span style="color:darkred">*</span></label>
                                @Html.DropDownList("UrunTuruID", (List<SelectListItem>)ViewBag.urungrubu, "Ürün Türü Seçiniz...", new { @class = "form-control select2", id = "UrunTuruID" })

                                <label style="margin-top:10px; margin-bottom:-5px;">Ürün Kodu <span style="color:darkred">*</span></label>
                                <input type="text" class="form-control" id="UrunKodu">

                                <label style="margin-top:10px; margin-bottom:-5px;">Ürün Adı <span style="color:darkred">*</span></label>
                                <input type="text" class="form-control" id="UrunAdi">

                                <label style="margin-top:10px; margin-bottom:-5px;">Ürün Marka <span style="color:darkred">*</span></label>
                                <input type="text" class="form-control" id="UrunAciklama">

                                <label style="margin-top:10px; margin-bottom:-5px;">Birim KG</label>
                                <input type="text" class="form-control" id="BirimKG">

                                <label style="margin-top:10px; margin-bottom:-5px;">Birim M3</label>
                                <input type="text" class="form-control" id="BirimM3">

                                <label style="margin-top:10px; margin-bottom:-5px;">Boyut</label>
                                <input type="text" class="form-control" id="Boyut">

                                <label style="margin-top:10px; margin-bottom:-5px;">Paket Adedi</label>
                                <input type="text" class="form-control" id="PaketAdet">

                                <label style="margin-top:10px; margin-bottom:-5px;" class="form-label">TL Fiyat</label>
                                <input type="text" class="form-control" id="FiyatTL">

                                <label style="margin-top:10px; margin-bottom:-5px;" class="form-label">USD Fiyat</label>
                                <input type="text" class="form-control" id="FiyatUSD">

                                <label style="margin-top:10px; margin-bottom:-5px;">Kritik Stok Miktarı <span style="color:darkred">*</span></label>
                                <input type="number" class="form-control" id="KritikStokMiktari">

                                <label style="margin-top:10px; margin-bottom:-5px;">Birim <span style="color:darkred">*</span></label>
                                @Html.DropDownList("BirimID", (List<SelectListItem>)ViewBag.birim, "Birim Seçiniz...", new { @class = "form-control select2", id = "BirimID" })

                                <label style="margin-top:10px; margin-bottom:-5px;">Resim Yükle</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="imagee" name="imagee">
                                    <label class="custom-file-label" for="customFile">Resim Seç</label>
                                </div><div class="form-group">
                                    <label style="margin-top:10px; margin-bottom:-5px;">Ürün Özellikleri:</label>
                                    @foreach (var ozellik in ViewBag.ozellikler)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="@ozellik.Value" id="@ozellik.Value" name="UrunOzellikleri" @(ozellik.Selected ? "checked" : "") />
                                            <label class="form-check-label" for="@ozellik.Value">
                                                @ozellik.Text
                                            </label>
                                        </div>
                                    }
                                </div>
                                <button type="button" onclick="AddForm()" class="btn btn-primary mt-3" style=" float:right;">Kaydet</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header border-transparent">
                <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Ürünler</h4>
                                </div>
                                <div class="col">
                                    @Html.DropDownList("fUrunKategoriID", (List<SelectListItem>)ViewBag.kat, "Kategori Filtrele", new { @class = "form-control basic", id = "fUrunKategoriID" })
                                </div>
                                <div class="col">
                                    @Html.DropDownList("fUrunTuruID", (List<SelectListItem>)ViewBag.urungrubu, "Ürün Türü Filtrele", new { @class = "form-control basic", id = "fUrunTuruID" })
                                </div>
                                <div class="col">
                                    <input type="text" id="searchUrunAciklama" class="form-control" placeholder="Ürün Marka Ara">
                                </div>
                                <div class="col">
                                    <input type="text" id="searchUrunAdi" class="form-control" placeholder="Ürün Adı Ara">
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive" style="font-size:12px;">
                                <table id="myTable" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Resim</th>
                                            <th>Ürün Türü</th>
                                            <th>Ürün Kategori</th>
                                            <th>Ürün Kodu</th>
                                            <th>Ürün Marka</th>
                                            <th>Ürün Adı</th>
                                            <th>Kritik Stok Miktarı</th>
                                            <th>Güncel Stok</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var secilen;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/UrunApi/UrunList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<img id="img_' + data + '" loading="lazy" class="img-thumbnail" style="width: 150px; height: 100px;" src="" />';
                    }
                },
                { data: 'urunTuru' },
                { data: 'urunKategori' },
                { data: 'urunKodu' },
                { data: 'urunAciklama' },
                { data: 'urunAdi' },
                { data: 'kritikStokMiktari' },
                { data: 'stokMiktari' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a href="/Urunler/Detay/' + data + '" class="btn btn-primary mb-2 mr-2 btn-rounded"><i class="fas fa-eye"></i></a>' +
                            '<button type="button" onclick="sil(' + data + ')" class="btn btn-danger mb-2 mr-2 btn-rounded"><i class="fas fa-trash"></i></button>';
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '120vh',
            scrollCollapse: true,
            ordering: false,
            initComplete: function (settings, json) {
                $(document).on('mouseenter', 'td img.img-thumbnail', function () {
                    var imgElement = $(this);
                    var id = imgElement.attr('id').split('_')[1];

                    if (imgElement.attr('src') === '') {
                        $.ajax({
                            url: '/UrunApi/GetResim',
                            method: 'POST',
                            data: { id: id },
                            success: function (imageData) {
                                imgElement.attr('src', 'data:image/jpeg;base64,' + imageData);
                            },
                            error: function (xhr, status, error) {
                                imgElement.attr('src', '/Resimler/vnnlogotrans.png');
                            }
                        });
                    }
                });

                $('#searchUrunAciklama').on('keyup', function () {
                    var searchValue = normalizeTurkishCharacters(this.value);
                    myDataTable.column(3).search(searchValue, true, false, true).draw();
                });

                $('#searchUrunAdi').on('keyup', function () {
                    var searchValue = normalizeTurkishCharacters(this.value);
                    myDataTable.column(4).search(searchValue, true, false, true).draw();
                });

                $('#fUrunTuruID').on('change', function () {
                    var selectedText = $("#fUrunTuruID option:selected").text();
                    if (selectedText !== "Ürün Türü Filtrele") {
                        myDataTable.column(1).search(normalizeTurkishCharacters(selectedText), true, false, true).draw();
                    }
                    else {
                        myDataTable.column(1).search('').draw();
                    }
                });

                $('#fUrunKategoriID').on('change', function () {
                    var selectedText = $("#fUrunKategoriID option:selected").text();

                    if (selectedText !== "Kategori Filtrele") {
                        myDataTable.column(2).search(normalizeTurkishCharacters(selectedText), true, false, true).draw();
                    }
                    else {
                        myDataTable.column(2).search('').draw();
                    }
                });
            }
        });
    }
    function normalizeTurkishCharacters(text) {
        if (!text) return text;

        return text
            .replace(/ç/g, 'c')
            .replace(/Ç/g, 'C')
            .replace(/ğ/g, 'g')
            .replace(/Ğ/g, 'G')
            .replace(/ı/g, 'i')
            .replace(/İ/g, 'I')
            .replace(/ö/g, 'o')
            .replace(/Ö/g, 'O')
            .replace(/ş/g, 's')
            .replace(/Ş/g, 'S')
            .replace(/ü/g, 'u')
            .replace(/Ü/g, 'U')
            .replace(/\s+/g, ' ')
            .trim();
    }
    function loadImages(data) {
        data.forEach(function (item) {
            $.ajax({
                url: '/UrunApi/GetResim',
                method: 'POST',
                data: { id: item.id },
                success: function (imageData) {
                    $('#img_' + item.id).attr('src', 'data:image/jpeg;base64,' + imageData);
                }
            });
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/UrunApi/UrunSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function AddForm() {
        var form = $('#UrunForm')[0];
        var formData = new FormData(form);
        formData.append("UrunKategoriID", $("#UrunKategoriID").val());
        formData.append("UrunTuruID", $("#UrunTuruID").val());
        formData.append("UrunKodu", $("#UrunKodu").val());
        formData.append("UrunAdi", $("#UrunAdi").val());
        formData.append("UrunAciklama", $("#UrunAciklama").val());
        formData.append("KritikStokMiktari", $("#KritikStokMiktari").val());
        formData.append("BirimID", $("#BirimID").val());
        formData.append("imagee", $("#imagee").val());
        formData.append("BirimKG", $("#BirimKG").val());
        formData.append("BirimM3", $("#BirimM3").val());
        formData.append("Boyut", $("#Boyut").val());
        formData.append("PaketAdet", $("#PaketAdet").val());
        formData.append("FiyatTL", $("#FiyatTL").val());
        formData.append("FiyatUSD", $("#FiyatUSD").val());
        formData.append("UrunOzellikleri", $("#UrunOzellikleri").val());
        $.ajax({
            type: "POST",
            url: "/UrunApi/UrunEkle",
            data: formData,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                if (result.status == "success") {
                    $("#UrunKategoriID").val('');
                    $("#UrunTuruID").val('');
                    $("#UrunKodu").val('');
                    $("#UrunAdi").val('');
                    $("#UrunAciklama").val('');
                    $("#KritikStokMiktari").val('');
                    $("#BirimID").val('');
                    $("#imagee").val('');
                    $("#BirimKG").val('');
                    $("#BirimM3").val('');
                    $("#Boyut").val('');
                    $("#PaketAdet").val('');
                    $("#FiyatTL").val('');
                    $("#FiyatUSD").val('');
                    tabloGuncelle();
                }
            }
        });
    }
</script>