@using VNNB2B.Models.Hata
@model EntityLayer.Dto.DtoBayiler

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    BayiHata.Icerik = "";
    int id = Convert.ToInt32(ViewBag.id);
}
<br />
<div class="row">
    <div class="col-lg-12 col-12 layout-spacing">
        <div class="card">
            <div class="card-header border-transparent">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Bayi Bilgileri</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area icon-pill">
                        <ul class="nav nav-pills mb-3 mt-3" id="icon-pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="icon-pills-home-tab" data-toggle="pill" href="#icon-pills-home" role="tab" aria-controls="icon-pills-home" aria-selected="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
                                    </svg>
                                    Bayi Kartı
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icon-pills-contact-tab" data-toggle="pill" href="#icon-pills-contact" role="tab" aria-controls="icon-pills-contact" aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                    </svg>
                                    Bayi Siparişleri
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="icon-pills-tabContent">
                            <div class="tab-pane fade show active" id="icon-pills-home" role="tabpanel" aria-labelledby="icon-pills-home-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card-header">
                                            <h3>Bayi Bilgileri Güncelle</h3>
                                            <hr />
                                        </div>
                                        <form>
                                            <input name="ID" value="@id" id="ID" type="hidden" />
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>Ünvan</label>
                                                    <input type="text" class="form-control" id="Unvan" aria-describedby="emailHelp1" value="@Model.Unvan">
                                                </div>
                                                <div class="form-group mb-3 col-6">
                                                    <label>Bayi Kodu</label>
                                                    <input type="text" class="form-control" id="BayiKodu" aria-describedby="emailHelp1" value="@Model.BayiKodu">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>Firma Adı</label>
                                                    <input type="text" class="form-control" id="KullaniciAdi" aria-describedby="emailHelp1" value="@Model.KullaniciAdi">
                                                </div>
                                                <div class="form-group mb-3 col-6">
                                                    <label>Telefon</label>
                                                    <input type="text" class="form-control" id="Telefon" aria-describedby="emailHelp1" value="@Model.Telefon">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>E-Posta Adresi</label>
                                                    <input type="text" class="form-control" id="EPosta" aria-describedby="emailHelp1" value="@Model.EPosta">
                                                </div>
                                                <div class="form-group mb-3 col-6">
                                                    <label>Adres</label>
                                                    <input type="text" class="form-control" id="Adres" aria-describedby="emailHelp1" value="@Model.Adres">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>Yetkili</label>
                                                    <input type="text" class="form-control" id="Yetkili" aria-describedby="emailHelp1" value="@Model.Yetkili">
                                                </div>
                                                <div class="form-group mb-3 col-6">
                                                    <label>İskonto Oranı</label>
                                                    <input type="text" class="form-control" id="IskontoOran" aria-describedby="emailHelp1" value="@Model.IskontoOran">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>Alışveriş Limiti</label>
                                                    <input type="text" class="form-control" id="AlisVerisLimiti" aria-describedby="emailHelp1" value="@Convert.ToDecimal(Model.AlisVerisLimiti).ToString("N2")">
                                                </div>
                                                <div class="form-group mb-3 col-6">
                                                    <label>Para Birimi</label>
                                                    @Html.DropDownList("ParaBirimi", (List<SelectListItem>)ViewBag.parabirimleri, "Para Birimi : " + Model.ParaBirimi, new { @class = "form-control basic", id = "ParaBirimi" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>KDV Durumu</label>
                                                    @Html.DropDownList("KDVDurum", (List<SelectListItem>)ViewBag.kdvdurumlari, "KDV Durumu : " + Model.KDVDurumu, new { @class = "form-control basic", id = "KDVDurum" })
                                                </div>
                                                <div class="form-group mb-3 col-6" style="margin-top:15px;">
                                                    <button type="button" onclick="AddForm()" class="btn btn-primary mt-3">Güncelle</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-12">
                                        <div class="card-header">
                                            <h3>Şifre Değiştirme</h3>
                                            <hr />
                                        </div>
                                        <form>
                                            <input name="ID" value="@id" id="ID" type="hidden" />
                                            <div class="row">
                                                <div class="form-group mb-3 col-12">
                                                    <label>Eski Şifre</label>
                                                    <input type="password" class="form-control" id="Eski" aria-describedby="emailHelp1" placeholder="******">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-6">
                                                    <label>Yeni Şifre</label>
                                                    <input type="password" class="form-control" id="Yeni" aria-describedby="emailHelp1" placeholder="******">
                                                </div>
                                                <div class="form-group mb-3 col-6">
                                                    <label>Yeni Şifre Tekrar</label>
                                                    <input type="password" class="form-control" id="Yeni1" aria-describedby="emailHelp1" placeholder="******">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3 col-12">
                                                    <button type="button" onclick="Sifre()" class="btn btn-info mt-3">Şifre Değiştir</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="icon-pills-contact" role="tabpanel" aria-labelledby="icon-pills-contact-tab1">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>Bayinin Siparişleri</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table id="myTable" class="table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sipariş No</th>
                                                        <th>Sipariş Tarihi</th>
                                                        <th>Telefon</th>
                                                        <th>Durum</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/BayiApi/BayiSiparisList/@id',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'siparisNo' },
                { data: 'siparisTarihi' },
                { data: 'telefon' },
                { data: 'siparisDurumu' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a href="/Bayi/Detay/' + data + '" class="btn btn-primary mb-2 mr-2 btn-rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"><path d = "M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" /></svg></a>' + '<button type="button" onclick="sil(' + data + ')" class="btn btn-danger mb-2 mr-2 btn-rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">< path d = "M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" /><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" /></svg></button>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/BayiApi/BayiSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function AddForm() {
        var formData = {
            ID: $("#ID").val(),
            Unvan: $("#Unvan").val(),
            KullaniciAdi: $("#KullaniciAdi").val(),
            Sifre: $("#Sifre").val(),
            Telefon: $("#Telefon").val(),
            EPosta: $("#EPosta").val(),
            Adres: $("#Adres").val(),
            Yetkili: $("#Yetkili").val(),
            IskontoOran: $("#IskontoOran").val(),
            AlisVerisLimiti: $("#AlisVerisLimiti").val(),
            BayiKodu: $("#BayiKodu").val(),
            ParaBirimi: $("#ParaBirimi").val(),
            KDVDurum: $("#KDVDurum").val(),
        };
        $.ajax({
            type: "POST",
            url: "/BayiApi/BayiDuzenle",
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                $("#Unvan").val('');
                $("#KullaniciAdi").val('');
                $("#Sifre").val('');
                $("#Telefon").val('');
                $("#EPosta").val('');
                $("#Adres").val('');
                $("#Yetkili").val('');
                $("#IskontoOran").val('');
                $("#AlisVerisLimiti").val('');
                $("#BayiKodu").val('');
                $("#ParaBirimi").val('');
                $("#KDVDurum").val('');
                tabloGuncelle();
            }
        });
        location.reload();
    }
    function Sifre() {
        var formData = {
            id: $("#ID").val(),
            Eski: $("#Eski").val(),
            Yeni: $("#Yeni").val(),
            Yeni1: $("#Yeni1").val(),
        };
        $.ajax({
            type: "POST",
            url: "/BayiApi/BayiSifreDegis",
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                $("#Eski").val('');
                $("#Yeni").val('');
                $("#Yeni1").val('');
                tabloGuncelle();
            }
        });
    }
</script>